<div class="content">
    <div class="content-header">
        <h1>Hark!</h1>
    </div>
    <div class="content-body">
        <blockquote class="message">
            You have stumbled here, upon this hidden place, finding yourself lost within these rare-traveled and ancient
            lands.<br><br />
            Seek help and call out to reveal what lies ahead.
        </blockquote>
    </div>
    <div class="content-footer">
        <p class="footer-authentication-prompt">Make Thyself Known.</p>
        <div class="footer-authenticate">
            <button #button>Login</button>
            <img #purpleDiscordLogo alt="Purple Discord Logo" src="assets/images/purpleDiscordLogo.svg" />
            <button>Register</button>
        </div>
    </div>
</div>
