<div>
  <div class="content">
    <div class="content-header">
      <h1>You!</h1>
    </div>
    <div class="content-body">
      <blockquote class="message">
        Who...Who might you be again? I apologize. My memory, it fails me as if plagued by some sort of fog. I daresay I will need a reminder to aid
        me lest I judge you a trespasser.
      </blockquote>
    </div>
    <div class="content-footer">
      <p class="footer-login-prompt">Name Thyself.</p>
      <div class="footer-login">
        <button (click)="onLogin()" class="auth-button">
          <img #purpleDiscordLogo alt="Purple Discord Logo" height="55" ngSrc="assets/images/purpleDiscordLogo.svg"
               width="71"/>
        </button>
        <span #loginText class="action-hint">Login</span>
      </div>
    </div>
  </div>
</div>
