<div class="content">

    <div class="content-header content_header-userInfo">
        <app-user-profile></app-user-profile>
    </div>

    <div class="content-body">
        <blockquote class="message"> You have found yourself here within the realm of the Storied Kingdom, where ancient
            untold secrets and treasure lie.</blockquote>
    </div>

    <div class="content-footer">
        <p class="footer-authentication-prompt">Enter, if you dare.</p>
        <div class="footer_games">
            <img alt="5e Logo" src="/assets/images/logos/5e_Logo.svg" />
            <img alt="Pf2e Logo" src="/assets/images/logos/pf2e_Logo.svg" />
        </div>
    </div>
</div>
